.card_wrapper {
    background-color: $secondary-color;
    width: 350px;
    display: grid;
    gap: $margin-size-8;
    padding: $padding-size-12;
    border-radius: $space-xxs;


    .card__title {
        color: $pink;
        font-size: $font-size-20;
        font-weight: 700;
    }

    .card__subtitle {
        color: $color;
        font-size: $font-size-16;
        font-weight: 700;
        opacity: 0.5;
    }

    .card__divider {
        height: 2px;
        background-color: $pink;
        margin: $margin-size-8 0;
    }

    .card__text {
        color: $color;
        font-size: $font-size-16;
        font-weight: 700;
    }

    .card__footer {
        display: flex;
        justify-content: end;
        gap: $space-xs;
    }
}

.modal__overlay {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.modal__content {
    background-color: $primary-color !important;
    border-radius: $space-xxs;
    width: 350px;
}

.modal__close_icon {
    color: $white;
}