.overlay {
    background-color: $contrast-color-20 !important;
}

.modal {
    background-color: $primary-color !important;
    border-radius: $space-xxs;
    width: 350px;
}

.close_icon {
    color: $color;
}