// Pink variant
$pink: #E91E63;
$pink-dark: #C21858;

// Purple variant
$purple: #9C2780;
$purple-dark: #572780;

// Blue variant
$blue-transparent: #E8F0FE;
$blue-light: #57ACDC;
$blue: #276880;
$blue-dark: #272AB0;

// Green variant
$green-light: #57DCBE;
$green: #60C689;

// Black variant
$black: #060606;
$black-10: #1A1A1E;
$black-20: #121214;
$gray: #333339;

// White variant
$white: #F9F9F9;
